<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app">
		<h3>Item List</h3>

		<form @submit.prevent="addItem">
			<input type="text" v-model="newItem">
		</form>
		<hr>

		<ul>
			<li v-for="(item, index) in items">
				{{ item.name}} - <input v-model="item.price">
				<button @click="removeItem(index)">-</button>
			</li>
			Total : {{total}}
		</ul>
	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				items: [
					{name: "Rice", price: 0},
					{name: "Fish", price: 80},
					{name: "Water", price: 120}
				],
				newItem: ''
			},
			computed: {
				total() {
					var total = 0;
					this.items.forEach(
						item => {
							if(item.price == ""){
								total += 0; 
							} else {
								total += parseFloat(item.price);
							}
							
						})
					return total;
				}
			},
			methods: {
				addItem(){
					this.items.push({
						name: this.newItem,
						price: 0.0
					})
					this.newItem = ''
				},
				removeItem(index){
					this.items.splice(index,1)
				}
			}
		})
	</script>
</body>

</html>